<%= javascript_include_tag 'fileinput.js' %>
<%= stylesheet_link_tag    'fileinput' %>
<script>
    $(document).on('ready', function () {
        $("#input-2").fileinput();
    });
</script>
<h1>Editing message</h1>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>
