<h1>News List</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <%= link_to 'New Message', new_message_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render 'shared/message' %>

<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'New Message', new_message_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>



