<h1>Maps List</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add Map', new_map_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render 'shared/map' %>

<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add Map', new_map_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
