<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to ApplicationHelper::ABOUT_LINK, about_path %></li>
    <!--  <li><%= link_to ApplicationHelper::CONTACT_LINK, contact_path %></li> -->
    </ul>
  </nav>
</footer>